HTTP 418 missing

As defined in [section 2.3.2 of RFC 2324](https://tools.ietf.org/html/rfc2324#section-2.3.2):

> ## 418 I'm a teapot
> Any attempt to brew coffee with a teapot should result in the error code "418 I'm a teapot". The resulting entity body MAY be short and stout.

Is there any reason that the code is missing from `StatusCodeInterface`?

Even though "it is not expected to be implemented by actual HTTP servers", there are actual implementations of it (see https://stackoverflow.com/q/24018008/404623) and it is trivial to do in PHP.

@RinkAttendant6 Feel free to open a pull request with this addition.